:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
mat-card {
    min-width: 200px;
    width: 350px;
}

mat-form-field {
    width: 100%;
    min-width: 200px;
}

mat-card-title,
mat-card-content {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
}

input {
    width: 100%;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
button:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
button {
    background-color: grey;
    color: white !important;
}
button:first-child {
    background-color: #673ab7 !important;
}