.example-card {
    max-width: 250px;
}

.example-header-image {
    background-size: cover;
}

.parent {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
}

@media (max-width: 1346px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}