<div class="parent">

    <div class="card-container">

        <mat-card *ngFor="let event of events" class="example-card">
            <img mat-card-image src="../../../assets/default.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <h3>{{ event.title }}</h3>
              <p>
                {{ event.description }}
              </p>
              <p>{{event.place}}</p>
              <p>{{ event.date}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    
    </div>
    

</div>